SELECT * FROM [Z2dataCompany].[dbo].[Departments]
SELECT * FROM [Z2dataCompany].[dbo].[Employees]
SELECT * FROM [Z2dataCompany].[dbo].[AspNetUsers]
SELECT * FROM [Z2dataCompany].[dbo].[Addresses]



SELECT * FROM [Z2dataCompany].[dbo].[AspNetUsers]
WHERE Email = 'karim.mohamed@example.com'



